<div class="p-mb-3">
    <button pButton type="button" class="p-button-success" icon="pi pi-plus" label="Añadir empresa" (click)="openDialogCreateEmpresa()"></button>
    <button pButton type="button" class="p-button-info p-ml-3" icon="pi pi-refresh" label="Refrescar" (click)="reload()"></button>
</div>
<p-table [value]="datasource" [rows]="10" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-customers p-datatable-gridlines"
    [paginator]="true" currentPageReportTemplate="Mostrando desde {first} hasta {last} de {totalRecords} registros"
    [globalFilterFields]="['nombre']" [lazy]="true" (onPage)="paginate($event)"
    [totalRecords]="total" [loading]="loading">
    <ng-template pTemplate="header">
        <tr>
            <th>Nombre</th>
            <th>Potencia contratada</th>
            <th style="width: 5rem;"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-empresa>
        <tr>
            <td>{{empresa.nombre}}</td>
            <td>{{empresa.potenciaContratada}} W</td>
            <td style="text-align: center">
                <button pButton type="button" class="p-button-primary" icon="pi pi-pencil" (click)="openDialogEditEmpresa(empresa.id)"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="3" style="text-align: center;">{{emptymessage}}</td>
        </tr>
    </ng-template>
</p-table>
<p-toast position="bottom-center"></p-toast>